<!DOCTYPE html>
<html ng-app="interactiveMap">
<head>
	<title>States!</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script type="text/javascript" src="state-objects.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<script type="text/javascript" src="scripts.js"></script>
	
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div id="intro-page-wrapper">
		<div id="intro-page">
		<h1>Oliver's USA Electoral Interactive Map</h1>
		<h2>Technologies: HTML/CSS/Javascript/jQuery/AngularJS</h2>
		<p>This project gives a breakdown of the presidential electoral map.  Users are able to click on individual states and see how they affect the electoral votes.  If users click on the same states multiple times, the color of those states will transition between blue, red, and beige (democrat, republican, open states). The bar on the top of the page the calculates the total votes of blue, red, and open states.</p>
			<button id="intro-button" onclick="viewProject()">View Project</button>
	</div>
	</div>
	<div id="wrapper" ng-controller="interactiveMapCtrl">
		<div id="title-wrap">
			<h1 id="title">USA Electoral Votes Map</h1>
		</div>

		<div id="vote-bar-wrap">
			<div class="arrow top"></div>
			<div class="arrow bottom"></div>
			<h3 id="republican" class="red"><span class="voteCount" ng-bind="redStateVotes"></span>Republican</h3>
			<h3 id="democrat" class="blue">Democrat<span class="voteCount" ng-bind="blueStateVotes"></span></h3>
			<div id="fullbar">
				<div id="blue-bar" class="blue bar" ng-style="{'width': blueWidth}"></div>
				<div id="open-bar" class="open bar" ng-style="{'width': openWidth}"><p id="open-votes" ng-bind="openStateVotes" ng-if="openStateVotes > 9"></p></div>
				<div id="red-bar" class="red bar" ng-style="{'width': redWidth}"></div>
			</div>
		</div>
		<svg width="750" height="500">
			<g ng-class="state" ng-repeat="state in states" ng-click="stateClicked(state)">
				<path class="state {{state.stateColor}}" ng-attr-d="{{state.vector}}" stroke="white"></path>
				<foreignObject ng-if="state.nameX != ''" ng-attr-x="{{state.nameX}}" ng-attr-y="{{state.nameY}}">
					<body>
						<div class="state-info {{state.abbr}}">{{state.abbr}}<br />{{state.electoralVotes}}</div>
					</body>
				</foreignObject>
			</g>
		</svg>
		<div id="small-state-wrap">
			<table cellSpacing="5">
				<tbody>
					<tr ng-repeat="state in states | filter: !state.smallStateVal | orderBy: 'smallStateVal'" ng-click="(stateClicked(state))">
						<td class="state {{state.stateColor}}">{{state.electoralVotes}}</td>
						<td class="state-abbr">{{state.abbr}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="button wrapper">
			<button class="btn btn-default" ng-click="reset()">Reset Map</button>
		</div>

	</div>


</body>
</html>